<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="${FBSTRING_PluginName}" Language="1033" Version="${FBSTRING_PLUGIN_VERSION}" Manufacturer="${FBSTRING_CompanyName}" UpgradeCode="{2c6aa13f-52cb-531f-a00d-26ddd7b72bc9}">
    <Package InstallerVersion="200" Compressed="yes" Description="Installer for the ${PLUGIN_NAME} plugin" InstallScope="perUser" />
    <Upgrade Id="{2c6aa13f-52cb-531f-a00d-26ddd7b72bc9}">
      <UpgradeVersion
          Property="OLD_VERSION_FOUND"
          Minimum="0.0.1" IncludeMinimum="yes"
          Maximum="${FBSTRING_PLUGIN_VERSION}" IncludeMaximum="yes"
          OnlyDetect="no" IgnoreRemoveFailure="yes"
          MigrateFeatures="yes" />
    </Upgrade>

    <CustomAction
          Id="SAVETARGETDIR"
          Property="ARPINSTALLLOCATION"
          Value="[INSTALLDIR]" />

    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <CustomAction Id="LaunchApp" Directory="INSTALLDIR" ExeCommand="[SystemFolder]cmd.exe /C start BTLive.exe">
      (NOT Installed)
    </CustomAction>

    <util:CloseApplication Id="CloseSuperForm" CloseMessage="yes" Description="close" ElevatedCloseMessage="no" RebootPrompt="no" Target="BTLive.exe" />

      <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <InstallExecute After="RemoveExistingProducts" />
      <Custom Action="SAVETARGETDIR" After="InstallInitialize" />
      <Custom Action="LaunchApp" After='InstallFinalize'>NOT Installed</Custom>
      <Custom Action="WixCloseApplications" Before="InstallInitialize" />
    </InstallExecuteSequence>

    <Media Id="1" Cabinet="${PLUGIN_NAME}.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="${FB_WIX_INSTALL_LOCATION}">
        <Directory Id="CompanyDir" Name="${COMPANY_NAME}">
          <Component Id="CompanyDirComp" Guid="*">
            <RemoveFolder Id="RemoveCompanyDir" On="uninstall" />
            <RegistryValue
                Root="HKCU"
                Key="SOFTWARE\${COMPANY_NAME}"
                Name="Uninstall"
                Type="string"
                Value="${FBSTRING_PLUGIN_VERSION}"
                KeyPath="yes" />
          </Component>
          <Directory Id="INSTALLDIR" Name="${PLUGIN_NAME}">
            <Component Id="InstallDirComp" Guid="*">
              <RemoveFolder Id="RemovePluginNameDir" On="uninstall" />
              <RegistryValue
                  Root="HKCU"
                  Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}"
                  Name="Uninstall"
                  Type="string"
                  Value="${FBSTRING_PLUGIN_VERSION}"
                  KeyPath="yes" />
              <RegistryValue
                  Root="HKCU"
                  Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}"
                  Name="DisplayVersion"
                  Type="string"
                  Value="${FBSTRING_PLUGIN_VERSION}"
                />              
              <RegistryValue
                    Root="HKCU"
                    Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}"
                    Name="InstallLocation"
                    Type="string"
                    Value="[INSTALLDIR]"
                                />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="BTLive.exe" Guid="{eb7817ba-ac4e-4d4a-ac1d-7e14472cd2e0}">

        <RegistryValue
          Root="HKCU"
          Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}"
          Name="LIVE"
          Type="string"
          Value="${FBSTRING_PLUGIN_VERSION}"
          KeyPath="yes" />

        <RegistryValue
          Root="HKCU"
          Key="SOFTWARE\Microsoft\Internet Explorer\Low Rights\ElevationPolicy\{3baa0e8f-072a-47d0-83d6-56ea49fd011b}"
          Name="AppPath"
          Type="string"
          Value="[INSTALLDIR]"
            />

        <RegistryValue
          Root="HKCU"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
          Name="AppPath"
          Type="string"
          Value="[INSTALLDIR]\BTLive.exe"
            />

        <RegistryValue
          Root="HKCU"
          Key="SOFTWARE\Microsoft\Internet Explorer\Low Rights\ElevationPolicy\{3baa0e8f-072a-47d0-83d6-56ea49fd011b}"
          Name="AppName"
          Type="string"
          Value="BTLive.exe"
             />

        <RegistryValue
          Root="HKCU"
          Key="SOFTWARE\Microsoft\Internet Explorer\Low Rights\ElevationPolicy\{3baa0e8f-072a-47d0-83d6-56ea49fd011b}"
          Name="Policy"
          Type="string"
          Value="3"
            />

        <File Id="BTLive.exe" Source="${CMAKE_CURRENT_SOURCE_DIR}/Bundle/BTLive.exe" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainPluginFeature" Title="${FBSTRING_ProductName}" Level="1">
      <ComponentRef Id="BTLive.exe"/>
      <ComponentRef Id="InstallDirComp"/>
      <ComponentRef Id="CompanyDirComp"/>
      <ComponentGroupRef Id="PluginDLLGroup"/>
    </Feature>
  </Product>
</Wix>